@if (property()) {
  <section class="property-detail">
    <h2 class="property-detail-title" data-testid="property-detail-title">
      {{ property()?.title }}
    </h2>
    <div
      class="property-detail-data-container"
      data-testid="property-detail-data-container"
    >
      <app-icon-and-text
        [icon]="'location-pin'"
        [text]="property()?.location || ''"
      />
      <app-icon-and-text
        [icon]="'star'"
        [text]="
          `${property()?.rating} (${property()?.numberOfReviews} reviews)`
        "
      />
    </div>
    <div class="property-detail-image-container">
      <img
        [src]="property()?.imageUrl"
        [alt]="property()?.title"
        class="property-detail-image"
        data-testid="property-detail-image"
      />
    </div>
    <section class="property-detail-section-container">
      <div class="property-detail-content">
        <div class="property-detail-description">
          <h3
            class="property-detail-section-title"
            data-testid="property-detail-description-title"
          >
            About this place
          </h3>
          <p
            class="property-detail-description-text"
            data-testid="property-detail-description-text"
          >
            {{ property()?.description }}
          </p>
        </div>
        <div class="property-detail-amenities">
          <h3 class="property-detail-section-title">Amenities</h3>
          <ul class="property-detail-amenities-list">
            @for (amenity of property()?.amenities; track amenity.id) {
              <li
                class="property-detail-amenity-item"
                data-testid="property-detail-amenity-item"
              >
                <app-icon-and-text
                  [icon]="amenity.icon"
                  [text]="amenity.name"
                />
              </li>
            }
          </ul>
        </div>
      </div>
      <div class="property-detail-booking">
        <p
          class="property-detail-booking-price"
          data-testid="property-detail-booking-price"
        >
          <span class="property-detail-booking-price-value">
            {{ property()?.price }} €
          </span>
          <span class="property-detail-booking-price-unit">/ night</span>
        </p>
        <a
          [routerLink]="['/property', property()?.id, 'book']"
          class="property-detail-booking-button"
          data-testid="property-detail-booking-button"
          >Book now</a
        >
        <div class="divider"></div>
        <p
          class="property-detail-booking-host"
          data-testid="property-detail-booking-host"
        >
          Hosted by {{ property()?.host }}
        </p>
      </div>
    </section>
  </section>
} @else {
  <div class="property-detail-not-found">
    <p data-testid="property-detail-not-found">Property not found</p>
  </div>
}
