@if (icon === 'ac') {
  <app-ac-icon />
} @else if (icon === 'arrow-left') {
  <app-arrow-left-icon />
} @else if (icon === 'breakfast') {
  <app-breakfast-icon />
} @else if (icon === 'github') {
  <app-github-icon />
} @else if (icon === 'kitchen') {
  <app-kitchen-icon />
} @else if (icon === 'location-pin') {
  <app-location-pin-icon />
} @else if (icon === 'parking') {
  <app-parking-icon />
} @else if (icon === 'star') {
  <app-star-icon />
} @else if (icon === 'tv') {
  <app-tv-icon />
} @else if (icon === 'wifi') {
  <app-wifi-icon />
} @else {
  <p data-testid="icon-not-found">Icon not found</p>
}
