<article class="property-card">
  <a class="property-link" [routerLink]="['/property', property.id]">
    <img
      [src]="property.imageUrl"
      [alt]="property.title"
      class="property-image"
    />
    <div class="property-info">
      <h3 class="property-title">{{ property.title }}</h3>

      <p class="property-location" data-testid="property-location">
        {{ property.location }}
      </p>

      <p class="property-price" data-testid="property-price">
        {{ property.price }} €
      </p>
    </div>
  </a>
</article>
