<div class="booking-form">
  <a
    [routerLink]="['/property', property()?.id]"
    class="booking-form-back-link"
  >
    <app-arrow-left-icon />
    <span class="booking-form-back-link-text">Back to property</span>
  </a>
  <h2 class="booking-form-title">Book {{ property()?.title }}</h2>
  <p class="booking-form-price">
    {{ property()?.location }} · {{ property()?.price }} € / night
  </p>
  <div class="booking-form-content">
    <h3 class="booking-form-content-title">Complete your booking</h3>
    <form
      [formGroup]="bookingForm"
      class="booking-form-form"
      (ngSubmit)="onSubmit()"
    >
      <div class="booking-form-form-row">
        <label for="firstName" class="booking-form-label">First Name</label>
        <input
          id="firstName"
          formControlName="firstName"
          type="text"
          class="booking-form-input"
        />
      </div>
      <div class="booking-form-form-row">
        <label for="lastName" class="booking-form-label">Last Name</label>
        <input
          id="lastName"
          formControlName="lastName"
          type="text"
          class="booking-form-input"
        />
      </div>
      <div class="booking-form-form-row">
        <label for="email" class="booking-form-label">Email</label>
        <input
          id="email"
          formControlName="email"
          type="email"
          class="booking-form-input"
        />
      </div>
      <div class="booking-form-form-row">
        <label for="phone" class="booking-form-label">Phone</label>
        <input
          id="phone"
          formControlName="phone"
          type="tel"
          class="booking-form-input"
        />
      </div>
      <div class="booking-form-form-row">
        <label for="address" class="booking-form-label">Address</label>
        <input
          id="address"
          formControlName="address"
          type="text"
          class="booking-form-input"
        />
      </div>
      <div class="booking-form-form-row">
        <label for="city" class="booking-form-label">City</label>
        <input
          id="city"
          formControlName="city"
          type="text"
          class="booking-form-input"
        />
      </div>
      <div class="booking-form-form-row">
        <label for="zip" class="booking-form-label">Zip</label>
        <input
          id="zip"
          formControlName="zip"
          type="text"
          class="booking-form-input"
        />
      </div>
      <div class="booking-form-form-row">
        <label for="country" class="booking-form-label">Country</label>
        <input
          id="country"
          formControlName="country"
          type="text"
          class="booking-form-input"
        />
      </div>
      <button type="submit" class="booking-form-button">Book</button>
    </form>
  </div>
</div>
