<section class="booking-form">
  <a
    [routerLink]="['/property', property()?.id]"
    class="booking-form-back-link"
  >
    <div class="booking-form-back-link-icon">
      <app-arrow-left-icon />
    </div>
    <span class="booking-form-back-link-text">Back to property</span>
  </a>
  <h2 class="booking-form-title">Book {{ property()?.title }}</h2>
  <p class="booking-form-price">
    {{ property()?.location }} · {{ property()?.price }} € / night
  </p>
  <div class="booking-form-content">
    <h3 class="booking-form-content-title">Complete your booking</h3>
    <form
      [formGroup]="bookingForm"
      class="booking-form-form"
      (ngSubmit)="onSubmit()"
    >
      @for (field of bookingFormFields; track field.id) {
        <app-form-item-component
          [id]="field.id"
          [type]="field.type"
          [label]="field.label"
          [control]="getControl(field.id)"
        />
      }
      <button type="submit" class="booking-form-button">Book</button>
    </form>
  </div>
</section>
